<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SQL 4 CDS - SSMS Edition" Language="1033" Version="!(bind.fileVersion.MarkMpn.Sql4Cds.SSMS.dll)" Manufacturer="Mark Carrington" UpgradeCode="a208a389-791c-433c-adda-2fdd01d43e99">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="MarkMpn.Sql4Cds.SSMS.Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="HeatGenerated" />
		</Feature>

    <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
      <Property Id="WixUI_Mode" Value="Custom" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

    </UI>
    <UIRef Id="WixUI_Common" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <!--C:\Program Files (x86)\Microsoft SQL Server Management Studio 18\Common7\IDE\Extensions\MarkMpn.Sql4Cds.SSMS-->
			<Directory Id="ProgramFilesFolder">
        <Directory Id="SSMSFolder" Name="Microsoft SQL Server Management Studio 18">
          <Directory Id="Common7Folder" Name="Common7">
            <Directory Id="IDEFolder" Name="IDE">
              <Directory Id="ExtensionsFolder" Name="Extensions">
                <Directory Id="INSTALLFOLDER" Name="MarkMpn.Sql4Cds.SSMS" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
