<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="Azure.Core.dll" Guid="*">
                <File Id="Azure.Core.dll" KeyPath="yes" Source="$(var.HarvestPath)\Azure.Core.dll" />
            </Component>
            <Component Id="Azure.Identity.dll" Guid="*">
                <File Id="Azure.Identity.dll" KeyPath="yes" Source="$(var.HarvestPath)\Azure.Identity.dll" />
            </Component>
            <Component Id="extension.vsixmanifest" Guid="*">
                <File Id="extension.vsixmanifest" KeyPath="yes" Source="$(var.HarvestPath)\extension.vsixmanifest" />
            </Component>
            <Component Id="MarkMpn.Sql4Cds.Controls.dll" Guid="*">
                <File Id="MarkMpn.Sql4Cds.Controls.dll" KeyPath="yes" Source="$(var.HarvestPath)\MarkMpn.Sql4Cds.Controls.dll" />
            </Component>
            <Component Id="MarkMpn.Sql4Cds.Controls.pdb" Guid="*">
                <File Id="MarkMpn.Sql4Cds.Controls.pdb" KeyPath="yes" Source="$(var.HarvestPath)\MarkMpn.Sql4Cds.Controls.pdb" />
            </Component>
            <Component Id="MarkMpn.Sql4Cds.Engine.dll" Guid="*">
                <File Id="MarkMpn.Sql4Cds.Engine.dll" KeyPath="yes" Source="$(var.HarvestPath)\MarkMpn.Sql4Cds.Engine.dll" />
            </Component>
            <Component Id="MarkMpn.Sql4Cds.Engine.pdb" Guid="*">
                <File Id="MarkMpn.Sql4Cds.Engine.pdb" KeyPath="yes" Source="$(var.HarvestPath)\MarkMpn.Sql4Cds.Engine.pdb" />
            </Component>
            <Component Id="MarkMpn.Sql4Cds.SSMS.dll" Guid="*">
                <File Id="MarkMpn.Sql4Cds.SSMS.dll" KeyPath="yes" Source="$(var.HarvestPath)\MarkMpn.Sql4Cds.SSMS.dll" />
            </Component>
            <Component Id="MarkMpn.Sql4Cds.SSMS.dll.config" Guid="*">
                <File Id="MarkMpn.Sql4Cds.SSMS.dll.config" KeyPath="yes" Source="$(var.HarvestPath)\MarkMpn.Sql4Cds.SSMS.dll.config" />
            </Component>
            <Component Id="MarkMpn.Sql4Cds.SSMS.pkgdef" Guid="*">
                <File Id="MarkMpn.Sql4Cds.SSMS.pkgdef" KeyPath="yes" Source="$(var.HarvestPath)\MarkMpn.Sql4Cds.SSMS.pkgdef" />
            </Component>
            <Component Id="MarkMpn.Sql4Cds.SSMS.vsix" Guid="*">
                <File Id="MarkMpn.Sql4Cds.SSMS.vsix" KeyPath="yes" Source="$(var.HarvestPath)\MarkMpn.Sql4Cds.SSMS.vsix" />
            </Component>
            <Component Id="Microsoft.ApplicationInsights.dll" Guid="*">
                <File Id="Microsoft.ApplicationInsights.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.ApplicationInsights.dll" />
            </Component>
            <Component Id="Microsoft.ApplicationInsights.pdb" Guid="*">
                <File Id="Microsoft.ApplicationInsights.pdb" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.ApplicationInsights.pdb" />
            </Component>
            <Component Id="Microsoft.Bcl.AsyncInterfaces.dll" Guid="*">
                <File Id="Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="Microsoft.Crm.Sdk.Proxy.dll" Guid="*">
                <File Id="Microsoft.Crm.Sdk.Proxy.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Crm.Sdk.Proxy.dll" />
            </Component>
            <Component Id="Microsoft.Data.SqlClient.dll" Guid="*">
                <File Id="Microsoft.Data.SqlClient.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Data.SqlClient.dll" />
            </Component>
            <Component Id="Microsoft.Data.SqlClient.SNI.arm64.dll" Guid="*">
                <File Id="Microsoft.Data.SqlClient.SNI.arm64.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Data.SqlClient.SNI.arm64.dll" />
            </Component>
            <Component Id="Microsoft.Data.SqlClient.SNI.arm64.pdb" Guid="*">
                <File Id="Microsoft.Data.SqlClient.SNI.arm64.pdb" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Data.SqlClient.SNI.arm64.pdb" />
            </Component>
            <Component Id="Microsoft.Data.SqlClient.SNI.x64.dll" Guid="*">
                <File Id="Microsoft.Data.SqlClient.SNI.x64.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Data.SqlClient.SNI.x64.dll" />
            </Component>
            <Component Id="Microsoft.Data.SqlClient.SNI.x64.pdb" Guid="*">
                <File Id="Microsoft.Data.SqlClient.SNI.x64.pdb" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Data.SqlClient.SNI.x64.pdb" />
            </Component>
            <Component Id="Microsoft.Data.SqlClient.SNI.x86.dll" Guid="*">
                <File Id="Microsoft.Data.SqlClient.SNI.x86.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Data.SqlClient.SNI.x86.dll" />
            </Component>
            <Component Id="Microsoft.Data.SqlClient.SNI.x86.pdb" Guid="*">
                <File Id="Microsoft.Data.SqlClient.SNI.x86.pdb" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Data.SqlClient.SNI.x86.pdb" />
            </Component>
            <Component Id="Microsoft.Identity.Client.dll" Guid="*">
                <File Id="Microsoft.Identity.Client.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Identity.Client.dll" />
            </Component>
            <Component Id="Microsoft.Identity.Client.Extensions.Msal.dll" Guid="*">
                <File Id="Microsoft.Identity.Client.Extensions.Msal.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Identity.Client.Extensions.Msal.dll" />
            </Component>
            <Component Id="Microsoft.IdentityModel.Abstractions.dll" Guid="*">
                <File Id="Microsoft.IdentityModel.Abstractions.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.IdentityModel.Abstractions.dll" />
            </Component>
            <Component Id="Microsoft.IdentityModel.Clients.ActiveDirectory.dll" Guid="*">
                <File Id="Microsoft.IdentityModel.Clients.ActiveDirectory.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.IdentityModel.Clients.ActiveDirectory.dll" />
            </Component>
            <Component Id="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll" Guid="*">
                <File Id="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll" />
            </Component>
            <Component Id="Microsoft.IdentityModel.JsonWebTokens.dll" Guid="*">
                <File Id="Microsoft.IdentityModel.JsonWebTokens.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.IdentityModel.JsonWebTokens.dll" />
            </Component>
            <Component Id="Microsoft.IdentityModel.Logging.dll" Guid="*">
                <File Id="Microsoft.IdentityModel.Logging.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.IdentityModel.Logging.dll" />
            </Component>
            <Component Id="Microsoft.IdentityModel.Protocols.dll" Guid="*">
                <File Id="Microsoft.IdentityModel.Protocols.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.IdentityModel.Protocols.dll" />
            </Component>
            <Component Id="Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" Guid="*">
                <File Id="Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" />
            </Component>
            <Component Id="Microsoft.IdentityModel.Tokens.dll" Guid="*">
                <File Id="Microsoft.IdentityModel.Tokens.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.IdentityModel.Tokens.dll" />
            </Component>
            <Component Id="Microsoft.Rest.ClientRuntime.dll" Guid="*">
                <File Id="Microsoft.Rest.ClientRuntime.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Rest.ClientRuntime.dll" />
            </Component>
            <Component Id="Microsoft.SqlServer.ConnectionInfo.dll" Guid="*">
                <File Id="Microsoft.SqlServer.ConnectionInfo.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.SqlServer.ConnectionInfo.dll" />
            </Component>
            <Component Id="Microsoft.SqlServer.RegSvrEnum.dll" Guid="*">
                <File Id="Microsoft.SqlServer.RegSvrEnum.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.SqlServer.RegSvrEnum.dll" />
            </Component>
            <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.dll" Guid="*">
                <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.SqlServer.TransactSql.ScriptDom.dll" />
            </Component>
            <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.pdb" Guid="*">
                <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.pdb" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.SqlServer.TransactSql.ScriptDom.pdb" />
            </Component>
            <Component Id="Microsoft.VisualStudio.CoreUtility.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.CoreUtility.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.CoreUtility.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Imaging.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Imaging.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Imaging.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.OLE.Interop.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.OLE.Interop.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.OLE.Interop.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Shell.15.0.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Shell.15.0.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Shell.15.0.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Shell.Framework.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Shell.Framework.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Shell.Framework.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Shell.Interop.10.0.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Shell.Interop.10.0.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Shell.Interop.10.0.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Shell.Interop.11.0.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Shell.Interop.11.0.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Shell.Interop.11.0.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Shell.Interop.12.0.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Shell.Interop.12.0.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Shell.Interop.12.0.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Shell.Interop.8.0.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Shell.Interop.8.0.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Shell.Interop.8.0.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Shell.Interop.9.0.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Shell.Interop.9.0.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Shell.Interop.9.0.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Shell.Interop.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Shell.Interop.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Shell.Interop.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.TextManager.Interop.8.0.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.TextManager.Interop.8.0.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.TextManager.Interop.8.0.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.TextManager.Interop.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.TextManager.Interop.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.TextManager.Interop.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Threading.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Threading.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Threading.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Utilities.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Utilities.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Utilities.dll" />
            </Component>
            <Component Id="Microsoft.VisualStudio.Validation.dll" Guid="*">
                <File Id="Microsoft.VisualStudio.Validation.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.VisualStudio.Validation.dll" />
            </Component>
            <Component Id="Microsoft.Xrm.Sdk.Deployment.dll" Guid="*">
                <File Id="Microsoft.Xrm.Sdk.Deployment.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Xrm.Sdk.Deployment.dll" />
            </Component>
            <Component Id="Microsoft.Xrm.Sdk.dll" Guid="*">
                <File Id="Microsoft.Xrm.Sdk.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Xrm.Sdk.dll" />
            </Component>
            <Component Id="Microsoft.Xrm.Sdk.Workflow.dll" Guid="*">
                <File Id="Microsoft.Xrm.Sdk.Workflow.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Xrm.Sdk.Workflow.dll" />
            </Component>
            <Component Id="Microsoft.Xrm.Tooling.Connector.dll" Guid="*">
                <File Id="Microsoft.Xrm.Tooling.Connector.dll" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Xrm.Tooling.Connector.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="*">
                <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.HarvestPath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="SQLEditors.dll" Guid="*">
                <File Id="SQLEditors.dll" KeyPath="yes" Source="$(var.HarvestPath)\SQLEditors.dll" />
            </Component>
            <Component Id="SqlPackageBase.dll" Guid="*">
                <File Id="SqlPackageBase.dll" KeyPath="yes" Source="$(var.HarvestPath)\SqlPackageBase.dll" />
            </Component>
            <Component Id="SqlWorkbench.Interfaces.dll" Guid="*">
                <File Id="SqlWorkbench.Interfaces.dll" KeyPath="yes" Source="$(var.HarvestPath)\SqlWorkbench.Interfaces.dll" />
            </Component>
            <Component Id="System.Buffers.dll" Guid="*">
                <File Id="System.Buffers.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Buffers.dll" />
            </Component>
            <Component Id="System.Configuration.ConfigurationManager.dll" Guid="*">
                <File Id="System.Configuration.ConfigurationManager.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Configuration.ConfigurationManager.dll" />
            </Component>
            <Component Id="System.Data.SqlClient.dll" Guid="*">
                <File Id="System.Data.SqlClient.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Data.SqlClient.dll" />
            </Component>
            <Component Id="System.Diagnostics.DiagnosticSource.dll" Guid="*">
                <File Id="System.Diagnostics.DiagnosticSource.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.DiagnosticSource.dll" />
            </Component>
            <Component Id="System.IdentityModel.Tokens.Jwt.dll" Guid="*">
                <File Id="System.IdentityModel.Tokens.Jwt.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.IdentityModel.Tokens.Jwt.dll" />
            </Component>
            <Component Id="System.IO.FileSystem.AccessControl.dll" Guid="*">
                <File Id="System.IO.FileSystem.AccessControl.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.FileSystem.AccessControl.dll" />
            </Component>
            <Component Id="System.Memory.Data.dll" Guid="*">
                <File Id="System.Memory.Data.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Memory.Data.dll" />
            </Component>
            <Component Id="System.Memory.dll" Guid="*">
                <File Id="System.Memory.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Memory.dll" />
            </Component>
            <Component Id="System.Numerics.Vectors.dll" Guid="*">
                <File Id="System.Numerics.Vectors.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="*">
                <File Id="System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="System.Security.AccessControl.dll" Guid="*">
                <File Id="System.Security.AccessControl.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.AccessControl.dll" />
            </Component>
            <Component Id="System.Security.Cryptography.ProtectedData.dll" Guid="*">
                <File Id="System.Security.Cryptography.ProtectedData.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.ProtectedData.dll" />
            </Component>
            <Component Id="System.Security.Permissions.dll" Guid="*">
                <File Id="System.Security.Permissions.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Permissions.dll" />
            </Component>
            <Component Id="System.Security.Principal.Windows.dll" Guid="*">
                <File Id="System.Security.Principal.Windows.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="System.Text.Encodings.Web.dll" Guid="*">
                <File Id="System.Text.Encodings.Web.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Text.Encodings.Web.dll" />
            </Component>
            <Component Id="System.Text.Json.dll" Guid="*">
                <File Id="System.Text.Json.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Text.Json.dll" />
            </Component>
            <Component Id="System.Threading.Tasks.Extensions.dll" Guid="*">
                <File Id="System.Threading.Tasks.Extensions.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="System.ValueTuple.dll" Guid="*">
                <File Id="System.ValueTuple.dll" KeyPath="yes" Source="$(var.HarvestPath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="XPath2.dll" Guid="*">
                <File Id="XPath2.dll" KeyPath="yes" Source="$(var.HarvestPath)\XPath2.dll" />
            </Component>
            <Component Id="XPath2.Extensions.dll" Guid="*">
                <File Id="XPath2.Extensions.dll" KeyPath="yes" Source="$(var.HarvestPath)\XPath2.Extensions.dll" />
            </Component>
            <Directory Id="cs" Name="cs">
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" KeyPath="yes" Source="$(var.HarvestPath)\cs\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll" KeyPath="yes" Source="$(var.HarvestPath)\cs\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll" KeyPath="yes" Source="$(var.HarvestPath)\cs\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="de" Name="de">
                <Component Id="Microsoft.Data.SqlClient.resources.dll" Guid="*">
                    <File Id="Microsoft.Data.SqlClient.resources.dll" KeyPath="yes" Source="$(var.HarvestPath)\de\Microsoft.Data.SqlClient.resources.dll" />
                </Component>
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_1" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_1" KeyPath="yes" Source="$(var.HarvestPath)\de\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_1" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_1" KeyPath="yes" Source="$(var.HarvestPath)\de\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_1" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_1" KeyPath="yes" Source="$(var.HarvestPath)\de\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="es" Name="es">
                <Component Id="Microsoft.Data.SqlClient.resources.dll_1" Guid="*">
                    <File Id="Microsoft.Data.SqlClient.resources.dll_1" KeyPath="yes" Source="$(var.HarvestPath)\es\Microsoft.Data.SqlClient.resources.dll" />
                </Component>
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_2" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_2" KeyPath="yes" Source="$(var.HarvestPath)\es\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_2" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_2" KeyPath="yes" Source="$(var.HarvestPath)\es\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_2" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_2" KeyPath="yes" Source="$(var.HarvestPath)\es\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="fr" Name="fr">
                <Component Id="Microsoft.Data.SqlClient.resources.dll_2" Guid="*">
                    <File Id="Microsoft.Data.SqlClient.resources.dll_2" KeyPath="yes" Source="$(var.HarvestPath)\fr\Microsoft.Data.SqlClient.resources.dll" />
                </Component>
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_3" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_3" KeyPath="yes" Source="$(var.HarvestPath)\fr\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_3" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_3" KeyPath="yes" Source="$(var.HarvestPath)\fr\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_3" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_3" KeyPath="yes" Source="$(var.HarvestPath)\fr\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="it" Name="it">
                <Component Id="Microsoft.Data.SqlClient.resources.dll_3" Guid="*">
                    <File Id="Microsoft.Data.SqlClient.resources.dll_3" KeyPath="yes" Source="$(var.HarvestPath)\it\Microsoft.Data.SqlClient.resources.dll" />
                </Component>
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_4" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_4" KeyPath="yes" Source="$(var.HarvestPath)\it\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_4" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_4" KeyPath="yes" Source="$(var.HarvestPath)\it\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_4" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_4" KeyPath="yes" Source="$(var.HarvestPath)\it\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="ja" Name="ja">
                <Component Id="Microsoft.Data.SqlClient.resources.dll_4" Guid="*">
                    <File Id="Microsoft.Data.SqlClient.resources.dll_4" KeyPath="yes" Source="$(var.HarvestPath)\ja\Microsoft.Data.SqlClient.resources.dll" />
                </Component>
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_5" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_5" KeyPath="yes" Source="$(var.HarvestPath)\ja\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_5" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_5" KeyPath="yes" Source="$(var.HarvestPath)\ja\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_5" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_5" KeyPath="yes" Source="$(var.HarvestPath)\ja\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="ko" Name="ko">
                <Component Id="Microsoft.Data.SqlClient.resources.dll_5" Guid="*">
                    <File Id="Microsoft.Data.SqlClient.resources.dll_5" KeyPath="yes" Source="$(var.HarvestPath)\ko\Microsoft.Data.SqlClient.resources.dll" />
                </Component>
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_6" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_6" KeyPath="yes" Source="$(var.HarvestPath)\ko\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_6" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_6" KeyPath="yes" Source="$(var.HarvestPath)\ko\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_6" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_6" KeyPath="yes" Source="$(var.HarvestPath)\ko\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="pl" Name="pl">
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_7" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_7" KeyPath="yes" Source="$(var.HarvestPath)\pl\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_7" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_7" KeyPath="yes" Source="$(var.HarvestPath)\pl\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_7" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_7" KeyPath="yes" Source="$(var.HarvestPath)\pl\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="pt_BR" Name="pt-BR">
                <Component Id="Microsoft.Data.SqlClient.resources.dll_6" Guid="*">
                    <File Id="Microsoft.Data.SqlClient.resources.dll_6" KeyPath="yes" Source="$(var.HarvestPath)\pt-BR\Microsoft.Data.SqlClient.resources.dll" />
                </Component>
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_8" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_8" KeyPath="yes" Source="$(var.HarvestPath)\pt-BR\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_8" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_8" KeyPath="yes" Source="$(var.HarvestPath)\pt-BR\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_8" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_8" KeyPath="yes" Source="$(var.HarvestPath)\pt-BR\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="ru" Name="ru">
                <Component Id="Microsoft.Data.SqlClient.resources.dll_7" Guid="*">
                    <File Id="Microsoft.Data.SqlClient.resources.dll_7" KeyPath="yes" Source="$(var.HarvestPath)\ru\Microsoft.Data.SqlClient.resources.dll" />
                </Component>
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_9" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_9" KeyPath="yes" Source="$(var.HarvestPath)\ru\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_9" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_9" KeyPath="yes" Source="$(var.HarvestPath)\ru\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_9" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_9" KeyPath="yes" Source="$(var.HarvestPath)\ru\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="tr" Name="tr">
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_10" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_10" KeyPath="yes" Source="$(var.HarvestPath)\tr\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_10" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_10" KeyPath="yes" Source="$(var.HarvestPath)\tr\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_10" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_10" KeyPath="yes" Source="$(var.HarvestPath)\tr\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="zh_Hans" Name="zh-Hans">
                <Component Id="Microsoft.Data.SqlClient.resources.dll_8" Guid="*">
                    <File Id="Microsoft.Data.SqlClient.resources.dll_8" KeyPath="yes" Source="$(var.HarvestPath)\zh-Hans\Microsoft.Data.SqlClient.resources.dll" />
                </Component>
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_11" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_11" KeyPath="yes" Source="$(var.HarvestPath)\zh-Hans\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_11" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_11" KeyPath="yes" Source="$(var.HarvestPath)\zh-Hans\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_11" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_11" KeyPath="yes" Source="$(var.HarvestPath)\zh-Hans\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="zh_Hant" Name="zh-Hant">
                <Component Id="Microsoft.Data.SqlClient.resources.dll_9" Guid="*">
                    <File Id="Microsoft.Data.SqlClient.resources.dll_9" KeyPath="yes" Source="$(var.HarvestPath)\zh-Hant\Microsoft.Data.SqlClient.resources.dll" />
                </Component>
                <Component Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_12" Guid="*">
                    <File Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_12" KeyPath="yes" Source="$(var.HarvestPath)\zh-Hant\Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Threading.resources.dll_12" Guid="*">
                    <File Id="Microsoft.VisualStudio.Threading.resources.dll_12" KeyPath="yes" Source="$(var.HarvestPath)\zh-Hant\Microsoft.VisualStudio.Threading.resources.dll" />
                </Component>
                <Component Id="Microsoft.VisualStudio.Validation.resources.dll_12" Guid="*">
                    <File Id="Microsoft.VisualStudio.Validation.resources.dll_12" KeyPath="yes" Source="$(var.HarvestPath)\zh-Hant\Microsoft.VisualStudio.Validation.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="Azure.Core.dll" />
            <ComponentRef Id="Azure.Identity.dll" />
            <ComponentRef Id="extension.vsixmanifest" />
            <ComponentRef Id="MarkMpn.Sql4Cds.Controls.dll" />
            <ComponentRef Id="MarkMpn.Sql4Cds.Controls.pdb" />
            <ComponentRef Id="MarkMpn.Sql4Cds.Engine.dll" />
            <ComponentRef Id="MarkMpn.Sql4Cds.Engine.pdb" />
            <ComponentRef Id="MarkMpn.Sql4Cds.SSMS.dll" />
            <ComponentRef Id="MarkMpn.Sql4Cds.SSMS.dll.config" />
            <ComponentRef Id="MarkMpn.Sql4Cds.SSMS.pkgdef" />
            <ComponentRef Id="MarkMpn.Sql4Cds.SSMS.vsix" />
            <ComponentRef Id="Microsoft.ApplicationInsights.dll" />
            <ComponentRef Id="Microsoft.ApplicationInsights.pdb" />
            <ComponentRef Id="Microsoft.Bcl.AsyncInterfaces.dll" />
            <ComponentRef Id="Microsoft.Crm.Sdk.Proxy.dll" />
            <ComponentRef Id="Microsoft.Data.SqlClient.dll" />
            <ComponentRef Id="Microsoft.Data.SqlClient.SNI.arm64.dll" />
            <ComponentRef Id="Microsoft.Data.SqlClient.SNI.arm64.pdb" />
            <ComponentRef Id="Microsoft.Data.SqlClient.SNI.x64.dll" />
            <ComponentRef Id="Microsoft.Data.SqlClient.SNI.x64.pdb" />
            <ComponentRef Id="Microsoft.Data.SqlClient.SNI.x86.dll" />
            <ComponentRef Id="Microsoft.Data.SqlClient.SNI.x86.pdb" />
            <ComponentRef Id="Microsoft.Identity.Client.dll" />
            <ComponentRef Id="Microsoft.Identity.Client.Extensions.Msal.dll" />
            <ComponentRef Id="Microsoft.IdentityModel.Abstractions.dll" />
            <ComponentRef Id="Microsoft.IdentityModel.Clients.ActiveDirectory.dll" />
            <ComponentRef Id="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll" />
            <ComponentRef Id="Microsoft.IdentityModel.JsonWebTokens.dll" />
            <ComponentRef Id="Microsoft.IdentityModel.Logging.dll" />
            <ComponentRef Id="Microsoft.IdentityModel.Protocols.dll" />
            <ComponentRef Id="Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" />
            <ComponentRef Id="Microsoft.IdentityModel.Tokens.dll" />
            <ComponentRef Id="Microsoft.Rest.ClientRuntime.dll" />
            <ComponentRef Id="Microsoft.SqlServer.ConnectionInfo.dll" />
            <ComponentRef Id="Microsoft.SqlServer.RegSvrEnum.dll" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.dll" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.pdb" />
            <ComponentRef Id="Microsoft.VisualStudio.CoreUtility.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Imaging.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.OLE.Interop.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Shell.15.0.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Shell.Framework.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Shell.Interop.10.0.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Shell.Interop.11.0.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Shell.Interop.12.0.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Shell.Interop.8.0.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Shell.Interop.9.0.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Shell.Interop.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.TextManager.Interop.8.0.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.TextManager.Interop.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Utilities.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.dll" />
            <ComponentRef Id="Microsoft.Xrm.Sdk.Deployment.dll" />
            <ComponentRef Id="Microsoft.Xrm.Sdk.dll" />
            <ComponentRef Id="Microsoft.Xrm.Sdk.Workflow.dll" />
            <ComponentRef Id="Microsoft.Xrm.Tooling.Connector.dll" />
            <ComponentRef Id="Newtonsoft.Json.dll" />
            <ComponentRef Id="SQLEditors.dll" />
            <ComponentRef Id="SqlPackageBase.dll" />
            <ComponentRef Id="SqlWorkbench.Interfaces.dll" />
            <ComponentRef Id="System.Buffers.dll" />
            <ComponentRef Id="System.Configuration.ConfigurationManager.dll" />
            <ComponentRef Id="System.Data.SqlClient.dll" />
            <ComponentRef Id="System.Diagnostics.DiagnosticSource.dll" />
            <ComponentRef Id="System.IdentityModel.Tokens.Jwt.dll" />
            <ComponentRef Id="System.IO.FileSystem.AccessControl.dll" />
            <ComponentRef Id="System.Memory.Data.dll" />
            <ComponentRef Id="System.Memory.dll" />
            <ComponentRef Id="System.Numerics.Vectors.dll" />
            <ComponentRef Id="System.Runtime.CompilerServices.Unsafe.dll" />
            <ComponentRef Id="System.Security.AccessControl.dll" />
            <ComponentRef Id="System.Security.Cryptography.ProtectedData.dll" />
            <ComponentRef Id="System.Security.Permissions.dll" />
            <ComponentRef Id="System.Security.Principal.Windows.dll" />
            <ComponentRef Id="System.Text.Encodings.Web.dll" />
            <ComponentRef Id="System.Text.Json.dll" />
            <ComponentRef Id="System.Threading.Tasks.Extensions.dll" />
            <ComponentRef Id="System.ValueTuple.dll" />
            <ComponentRef Id="XPath2.dll" />
            <ComponentRef Id="XPath2.Extensions.dll" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll" />
            <ComponentRef Id="Microsoft.Data.SqlClient.resources.dll" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_1" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_1" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_1" />
            <ComponentRef Id="Microsoft.Data.SqlClient.resources.dll_1" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_2" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_2" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_2" />
            <ComponentRef Id="Microsoft.Data.SqlClient.resources.dll_2" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_3" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_3" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_3" />
            <ComponentRef Id="Microsoft.Data.SqlClient.resources.dll_3" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_4" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_4" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_4" />
            <ComponentRef Id="Microsoft.Data.SqlClient.resources.dll_4" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_5" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_5" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_5" />
            <ComponentRef Id="Microsoft.Data.SqlClient.resources.dll_5" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_6" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_6" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_6" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_7" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_7" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_7" />
            <ComponentRef Id="Microsoft.Data.SqlClient.resources.dll_6" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_8" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_8" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_8" />
            <ComponentRef Id="Microsoft.Data.SqlClient.resources.dll_7" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_9" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_9" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_9" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_10" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_10" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_10" />
            <ComponentRef Id="Microsoft.Data.SqlClient.resources.dll_8" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_11" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_11" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_11" />
            <ComponentRef Id="Microsoft.Data.SqlClient.resources.dll_9" />
            <ComponentRef Id="Microsoft.SqlServer.TransactSql.ScriptDom.resources.dll_12" />
            <ComponentRef Id="Microsoft.VisualStudio.Threading.resources.dll_12" />
            <ComponentRef Id="Microsoft.VisualStudio.Validation.resources.dll_12" />
        </ComponentGroup>
    </Fragment>
</Wix>